#bod
{
	background-color: black;
}
#headerSearch
{
	width: 100%;
	height: 200px;
	background-color: red;
	border-radius: 10px;
}
.profileIcon
{
	border-radius: 50%;
	width: 50px; 
	
	margin-left: -40px;
}
#site
{
	margin-top: 0px;
}
#scroll
{
	  min-height: 100%;
  height: 1500px;
}